{% extends 'base.html' %}
{% load static %}
{% block title %}Informacion educativa{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Educativa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <style>
        .btn-education {
            background-color: #2d7b3c;
            color: white;
            border: none;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }
        .btn-education.active {
            background-color: #60c625;
        }
        .education-fields {
            display: none;
        }
    </style>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-4">Información Educativa</h2>
                
                <form method="post" id="education-info-form">
                    {% csrf_token %}
                    
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-education" onclick="toggleEducation('secundaria', this)">Secundaria</button>
                        <button type="button" class="btn btn-education" onclick="toggleEducation('universitaria', this)">Universitaria</button>
                        <button type="button" class="btn btn-education" onclick="toggleEducation('posgrado', this)">Posgrado</button>
                        <button type="button" class="btn btn-education" onclick="toggleEducation('otros', this)">Otros estudios</button>
                    </div>

                    <input type="hidden" name="tipo" id="education-type" value="">

                    <!-- Secundaria -->
                    <div id="education-fields-secundaria" class="education-fields">
                        <h5>Educación Secundaria</h5>
                        <div class="form-group mb-3">
                            <label for="institucion_secundaria" class="form-label">Institución</label>
                            <input type="text" name="institucion_secundaria" id="institucion_secundaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="titulo_secundaria" class="form-label">Título obtenido</label>
                            <input type="text" name="titulo_secundaria" id="titulo_secundaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_inicio_secundaria" class="form-label">Fecha de inicio</label>
                            <input type="date" name="fecha_inicio_secundaria" id="fecha_inicio_secundaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_fin_secundaria" class="form-label">Fecha de finalización</label>
                            <input type="date" name="fecha_fin_secundaria" id="fecha_fin_secundaria" class="form-control">
                        </div>
                    </div>

                    <!-- Universitaria -->
                    <div id="education-fields-universitaria" class="education-fields">
                        <h5>Educación Universitaria</h5>
                        <div class="form-group mb-3">
                            <label for="institucion_universitaria" class="form-label">Institución</label>
                            <input type="text" name="institucion_universitaria" id="institucion_universitaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="titulo_universitaria" class="form-label">Título obtenido</label>
                            <input type="text" name="titulo_universitaria" id="titulo_universitaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_inicio_universitaria" class="form-label">Fecha de inicio</label>
                            <input type="date" name="fecha_inicio_universitaria" id="fecha_inicio_universitaria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_fin_universitaria" class="form-label">Fecha de finalización</label>
                            <input type="date" name="fecha_fin_universitaria" id="fecha_fin_universitaria" class="form-control">
                        </div>
                    
                    </div>
                    

                    <!-- Posgrado -->
                    <div id="education-fields-posgrado" class="education-fields">
                        <h5>Educación de Posgrado</h5>
                        <div class="form-group mb-3">
                            <label for="institucion_posgrado" class="form-label">Institución</label>
                            <input type="text" name="institucion_posgrado" id="institucion_posgrado" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="titulo_posgrado" class="form-label">Título obtenido</label>
                            <input type="text" name="titulo_posgrado" id="titulo_posgrado" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_inicio_posgrado" class="form-label">Fecha de inicio</label>
                            <input type="date" name="fecha_inicio_posgrado" id="fecha_inicio_posgrado" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fecha_fin_posgrado" class="form-label">Fecha de finalización</label>
                            <input type="date" name="fecha_fin_posgrado" id="fecha_fin_posgrado" class="form-control">
                        </div>
                    </div>

                    <!-- Otros estudios -->
                    <div id="education-fields-otros" class="education-fields">
                        <h5>Otros estudios</h5>
                        <div class="form-group mb-3">
                            <label for="institucion_otros" class="form-label">Institución</label>
                            <input type="text" name="institucion_otros" id="institucion_otros" class="form-control">
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-3">
                        <a href="{% url 'personal_info' %}" class="btn btn-success">Volver atrás</a>
                        <button type="submit" class="btn btn-success">Guardar y Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function toggleEducation(type, btn) {
            document.getElementById("education-type").value = type;
            
            document.querySelectorAll(".education-fields").forEach(field => field.style.display = "none");
            document.getElementById("education-fields-" + type).style.display = "block";

            document.querySelectorAll(".btn-education").forEach(button => button.classList.remove("active"));
            btn.classList.add("active");
        }

        document.getElementById("education-info-form").addEventListener("submit", function(event) {
            const tipo = document.getElementById("education-type").value;
            if (!tipo) {
                alert("Por favor, selecciona un tipo de educación antes de enviar el formulario.");
                event.preventDefault();
            }
        });
    </script>
</body>
</html>
{% endblock %}