{% extends 'base.html' %}
{% block title %}extraction{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extracción de Texto</title>
</head>
<body>
    <div class="container">
        <h1>Subir una imagen para extraer texto</h1>

        <!-- Formulario para subir imagen -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-section">
                {{ form.as_p }}
            </div>
            <button type="submit">Subir imagen</button>
        </form>

        {% if extracted_text %}
            <h2>Texto Extraído</h2>
            <form method="post" action="{% url 'generate_pdf' %}">
                {% csrf_token %}
                <div class="form-section">
                    <textarea name="edited_text" rows="10" cols="80">{{ extracted_text }}</textarea>
                </div>
                <div class="form-section">
                    <label>Nombre del archivo PDF:</label>
                    <input type="text" name="name" required>
                </div>
                <div class="form-section">
                    <label>Profesión:</label>
                    <input type="text" name="profession" required>
                </div>
                <button type="submit">Generar PDF</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}
