{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-white shadow-lg rounded-4 p-5 text-center" style="max-width: 500px; width: 100%;">
        <h1 class="mb-4" style="font-weight: 600;">
            <span style="color: #28a745;">Hojii</span> Scan
        </h1>

        <!-- Botones verticales -->
        <a href="{% url 'extraction' %}" class="btn btn-outline-success btn-lg w-100 mb-3">Tomar una foto</a>
        <a href="{% url 'upload_resume' %}" class="btn btn-outline-success btn-lg w-100 mb-3">Ir a Subir Archivos</a>
        <a href="{% url 'personal_info' %}" class="btn btn-outline-success btn-lg w-100">Crear Hoja de Vida</a>
    </div>
</div>
{% endblock %}
