{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hojii Scan</title>
    
</head>
<body>
    <div class="container">
        <h1><span style="color: #28a745;">Hojii</span> Scan</h1>

        <!-- Botones alineados en vertical -->
        <a href="{% url 'extraction' %}" class="button">Tomar una foto</a>
        <a href="{% url 'upload_resume' %}" class="button">Ir a Subir Archivos</a>
        <a href="{% url 'personal_info' %}" class="button">Crear Hoja de Vida</a>
    </div>
</body>
</html>
{% endblock %}
